body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: black;
    background-image: url(/Images/TribuLogo.png);
    background-size: cover;
}

.logo{
    background-image: url(/Images/TribuLogo.png);
    background-repeat: repeat;
    background-size: cover;
    height: auto;
    width: 300px;
}


